.follow-me-section {
  margin-top: 15px;
}

.follow-me-section ul {
  list-style-type: none;
}

.follow-me-icons {
  color: #cd5360;
  padding: 5px;
  font-size: large;
}

.follow-me-icons:hover {
  color: #61dafb;
}

.follow-me-icons:active {
  color: #cd5360;
}
