.follow-me-section {
  margin-top: 15px;
}

.follow-me-section ul {
  list-style-type: none;
}

.follow-me-icons {
  color: white;
  padding: 5px;
}

.follow-me-icons:hover {
  color: #286da8;
}

.follow-me-icons:active {
  color: #61dafb;
}
